---

---

ul > .doc-nav-heading:not(:first-child) {
    margin-top: 20px;
}

.doc-nav-heading {
    margin-left: -20px;
    list-style: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}

.credits {
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;
}

.docs.wrapper {
    max-width: 1050px;
}

.documentation-nav {
    float: left;
    width: 200px;
    position: relative;
    top: 120px;
}

.content-section {
    float: left;
}

.content-section > section {
    max-width: 850px;
}

section #title {
    margin: 0;
}